.navigation-bar {
  display: grid;
  grid-template-areas: 'leftbar logo rightbar';
  grid-template-columns: 40% 20% 40%;
}

.logo {
  grid-area: 'logo';
  font-size: 4em;
  color: teal;
}

.left-top-bar {
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}

.right-top-bar {
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}
