.navigation-bar {
  display: grid;
  grid-template-areas: 'leftbar logo rightbar';
  grid-template-columns: 40% 20% 40%;
}

.logo {
  grid-area: 'logo';
  font-size: 4em;
  color: teal;
  justify-self: center;
}

.left-top-bar {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-top-bar {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: inherit;
}

.trending {
  height: 10em;
  font-size: 4em;
}

.image-cards {
  display: flex;
  justify-content: space-around;
}

.trending-text {
  font-size: 5em;
}

.footer {
  border-top: 1px solid gray;
  padding: 1em 1em;
  display: flex;
  gap: 10em;
  color: gray;
}

.footer-item {
  font-size: 1.5em;
}

.cards {
  display: flex;
  gap: 10em;
}

.card {
  width: 15em;
  height: 8em;
}

.prices {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  gap: 2em;
}

.mrp {
  text-decoration: line-through;
}

.image > img {
  height: 400px;
}
